:root {
    --lightmode-reverse: #000000;
    --darkmode-reverse: #ffffff;

    --lightmode-opacity: #00000020;
    --darkmode-opacity: #ffffff20;

    --lightmode-background: #ffffff;
    --darkmode-background: #0f0f0f;

    --lightmode-outline: #f8f8f8;
    --darkmode-outline: #222222;
}

@media (prefers-color-scheme: light) {
    body {
        background: var(--lightmode-background);
        margin: 0;
    }

    .pagelogo-color {
        fill: var(--lightmode-reverse);
        filter: drop-shadow(0px 0px 24px var(--lightmode-opacity));
    }

    .var-color {
        color: var(--lightmode-reverse);
    }

    .search-iconbox {
        background: var(--lightmode-outline);
        border: 1px solid var(--lightmode-outline);
    }

    .textbox {
        background: var(--darkmode-reverse);
        border: 1px solid var(--lightmode-outline);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--darkmode-background);
        margin: 0;
    }

    .pagelogo-color {
        fill: var(--darkmode-reverse);
        filter: drop-shadow(0px 0px 24px var(--darkmode-opacity));
    }

    .var-color {
        color: var(--darkmode-reverse);
    }

    .search-iconbox {
        background: var(--darkmode-outline);
        border: 1px solid var(--darkmode-outline);
    }

    .textbox {
        background: #121212;
        border: 1px solid var(--darkmode-outline);
    }
}

.search-bar {
    position: absolute;
    display: grid;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pagelogo {
    display: flex;
    justify-self: center;
    width: 320px;

    margin-bottom: 180px;
}

.textbox {
    position: absolute;
    display: flex;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 720px;
    height: 48px;

    border-radius: 50px;
}

.textinput {
    margin: 0 18px 0 18px;
    width: 90%;
    height: 100%;

    background: none;
    border: none;
}

.textinput:focus {
    outline: none;
}

.search-iconbox {
    width: 72px;
    height: 48px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.search-icon {
    opacity: 0.5;

    width: 148px;
    height: 148px;
}

.tooltip-text {
    display: none;
    position: absolute;
    max-width: 200px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    color: white;
    background: #ff44a9;
}

.tooltip:hover .tooltip-text {
    display: block;
}